@import './styles/variables.css';

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: var(--font);
}

#root {
	height: 100vh;
}

body {
	min-height: 100vh;
	background: linear-gradient(
		120deg,
		var(--font-color-light),
		var(--font-color-dark)
	);
}
