@import './styles/variables.css';

input {
	all: unset;
}

button {
	all: unset;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

#root {
	height: 100vh;
}

body {
	max-height: 100vh;
	background: linear-gradient(
		120deg,
		var(--font-color-light),
		var(--font-color-dark)
	);
}
