@import '../../styles/variables.css';

.Deck {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* transition: background-color 0.3s; */
}

.Deck:hover {
	background: var(--main-light-color);
}

/* .Deck:hover .DeckName {
	font-weight: bold;
} */

.DeckLink {
	width: 75%;
}

.DeckName {
	margin-left: 2rem;
	margin: 1.5rem 0rem 1.5rem 2rem;
	color: var(--font-color);
	font-family: var(--font-title);
	/* font-weight: bold; */
}

.IconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.AddIcon {
	height: 1.8rem;
	/* transition: height 200ms ease-out; */
}

.AddIcon:hover {
	height: 2rem;
	cursor: pointer;
}
