@import '../../styles/variables.css';

.Deck {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s;
}

.Deck:hover {
	background-color: var(--font-color-white-1);
}

.DeckLink {
	width: 75%;
}

.DeckName {
	margin-left: 2rem;
	margin: 1.5rem 0rem 1.5rem 2rem;
	color: var(--font-color);
	font-family: var(--font-title);
	font-weight: bold;
}

.IconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.AddIcon {
	height: 1.8rem;
}

.AddIcon:hover {
	height: 2rem;
	cursor: pointer;
}
