@import '../../styles/variables.css';

.Deck,
.DeckActive {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(35, 25, 35, 15%);
	color: var(--main-light-color);
}

.Deck:hover,
.DeckActive {
	background: var(--main-light-color);
	color: var(--font-color);
}

.DeckName {
	margin: 1.5rem 2rem;
	/* color: var(--font-color); */
	font-family: var(--font-title);
}

/* .IconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.AddIcon {
	height: 1.8rem;
}

.AddIcon:hover {
	height: 2rem;
	cursor: pointer;
} */
