.Training {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.Card {
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28.1rem;
	padding: 3rem 0rem;
	background: var(--main-color);
	/* border: 1px solid var(--main-dark-color); */
	/* border-radius: 8px; */
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	/* border: 1px solid var(--main-border-light-color); */
	/* box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.12); */
}

.Front:first-of-type {
	user-select: none;
	cursor: auto;
	font-family: var(--font-title);
	font-weight: normal;
	color: var(--font-color);
	font-size: xx-large;
}

.Back,
.BackHidden {
	font-family: var(--font);
	font-weight: lighter;
	font-size: large;
	color: var(--font-color);
	font-size: xx-large;
	user-select: none;
}

.BackHidden:hover {
	cursor: pointer;
}

.BackHidden {
	filter: blur(10px);
}

.Divider {
	position: relative;
	margin: 1rem 0;
}

.Dashboard {
	/* margin-top: 8rem; */
	/* padding: 0.5rem 2rem; */
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	/* border-radius: 5px; */
	/* height: 8rem; */
	/* width: 22rem; */
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	/* box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.12); */
	/* border: 3px solid var(--main-border-light-color); */
	background: var(--main-color);
}

.Title {
	margin: 0.5rem;
	color: var(--main-light-color);
	font-family: var(--font-title);
	font-weight: bold;
	font-size: small;
}

.Buttons {
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
}

.Training button {
	/* background: var(--main-color); */

	/* margin: 1rem 0.7rem; */
	/* margin-top: -1px; */
	padding: 0.7rem 3.5rem;
	text-align: center;
	/* width: 100%; */
	font-family: var(--font-title);
	/* font-size: small; */
	/* color: var(--font-color);
	background: rgb(35, 25, 35, 15%); */

	/* border-radius: 7px; */
	/* border-bottom: 1px solid var(--main-color); */

	color: var(--main-light-color);
	background: rgb(35, 25, 35, 15%);
	cursor: pointer;
}

.Training button:hover {
	background: var(--main-light-color);
	color: var(--font-color);
}

.Training input {
	/* margin-top: 1rem; */
	padding: 0.5rem 0rem;
	/* border-radius: 5px; */
	font-family: var(--font);
	font-weight: lighter;
	font-size: x-large;
	width: 28rem;
	text-align: center;
	color: var(--font-color);
	background: var(--main-color);
	border: 1px solid var(--main-dark-color);
}
