.Card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem 0;
	/* margin-top: 0.4rem; */
	/* margin-bottom: 0.4rem; */
	/* background: var(--main-color); */
	/* border-radius: 8px; */
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	/* border: 1px solid var(--main-border-color); */
	/* animation-name: landCard;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out; */
	/* transition: all 200ms ease-in; */
}

.Card:hover {
	background: var(--main-light-color);
}

.CardSide {
	cursor: pointer;
	text-align: center;
	width: 70%;
	font-family: var(--font);
	font-weight: lighter;
	color: var(--font-color);
	font-size: 1.1rem;
}

.CardSide:first-of-type {
	font-family: var(--font-title);
	font-weight: normal;
	color: var(--font-color);
}

.Divider {
	margin-bottom: 0.2rem;
}

.Cross {
	cursor: pointer;
	position: absolute;
	right: 0.75rem;
	top: 1rem;
	width: 1rem;
	height: 1rem;
}

.Cross:hover::after,
.Cross:hover::before {
	background-color: var(--font-color);
}

.Cross:before,
.Cross:after {
	position: absolute;
	left: 0.5rem;
	content: ' ';
	height: 0.6rem;
	width: 1px;
	background-color: var(--font-color-disabled);
	background-color: var(--font-color);
}

.Cross:before {
	transform: rotate(45deg);
}

.Cross:after {
	transform: rotate(-45deg);
}
